body {
    background-color: antiquewhite;
}
.cimek {
    text-align: center;
    font-weight: bold;
}
.madeira{
    text-align: center;
    height: 500;
}
.becenevek {
    font-style:italic ;
}
.ronaldo-sopor{
    height: 100;
    text-align: center;
}